[submodule "src/mibench"]
	path = src/mibench
	url = git@github.com:AARInternal/mibench.git
    branch = main
[submodule "src/waveparser"]
	path = src/waveparser
	url = git@github.com:AARInternal/waveparser.git
[submodule "src/multevent"]
	path = src/multevent
	url = https://github.com/AARInternal/multevent
