SELECT 
"TA Busy" As "Metrics",
AVG(100*TA_TA_BUSY_sum/(GRBM_GUI_ACTIVE*$numCU)) As "Avg",
Min(100*TA_TA_BUSY_sum/(GRBM_GUI_ACTIVE*$numCU)) As "Min",
Max(100*TA_TA_BUSY_sum/(GRBM_GUI_ACTIVE*$numCU)) As "Max",
"pct" As "Unit"
from $dbName.pmc_ta_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter) 



union SELECT 
"Input FIFO Busy",
AVG(100*TA_SH_FIFO_BUSY_sum/(GRBM_GUI_ACTIVE*$numCU)),
MIN(100*TA_SH_FIFO_BUSY_sum/(GRBM_GUI_ACTIVE*$numCU)),
MAX(100*TA_SH_FIFO_BUSY_sum/(GRBM_GUI_ACTIVE*$numCU)),
"pct" from $dbName.pmc_ta_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter) 



union SELECT 
"Input Cmd FIFO Busy",
AVG(100*TA_SH_FIFO_CMD_BUSY_sum/(GRBM_GUI_ACTIVE*$numCU)),
MIN(100*TA_SH_FIFO_CMD_BUSY_sum/(GRBM_GUI_ACTIVE*$numCU)),
MAX(100*TA_SH_FIFO_CMD_BUSY_sum/(GRBM_GUI_ACTIVE*$numCU)),
"pct" from $dbName.pmc_ta_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT 
"Input Addr FIFO Busy",
AVG(100*TA_SH_FIFO_ADDR_BUSY_sum/(GRBM_GUI_ACTIVE*$numCU)),
MIN(100*TA_SH_FIFO_ADDR_BUSY_sum/(GRBM_GUI_ACTIVE*$numCU)),
MAX(100*TA_SH_FIFO_ADDR_BUSY_sum/(GRBM_GUI_ACTIVE*$numCU)),
"pct" from $dbName.pmc_ta_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT 
"Input DATA FIFO Busy",
AVG(100*TA_SH_FIFO_DATA_BUSY_sum/(GRBM_GUI_ACTIVE*$numCU)),
MIN(100*TA_SH_FIFO_DATA_BUSY_sum/(GRBM_GUI_ACTIVE*$numCU)),
MAX(100*TA_SH_FIFO_DATA_BUSY_sum/(GRBM_GUI_ACTIVE*$numCU)),
"pct" from $dbName.pmc_ta_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT 
"SQ Cmd Cycles",
AVG(TA_SQ_TA_CMD_CYCLES_sum/SQ_WAVES),
MIN(TA_SQ_TA_CMD_CYCLES_sum/SQ_WAVES),
MAX(TA_SQ_TA_CMD_CYCLES_sum/SQ_WAVES),
"Cycles/wave" from $dbName.pmc_ta_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT 
"SP Addr Cycles",
AVG(TA_SP_TA_ADDR_CYCLES_sum/SQ_WAVES),
MIN(TA_SP_TA_ADDR_CYCLES_sum/SQ_WAVES),
MAX(TA_SP_TA_ADDR_CYCLES_sum/SQ_WAVES),
"Cycles/wave" from $dbName.pmc_ta_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT 
"SP Data Cycles",
AVG(TA_SP_TA_DATA_CYCLES_sum/SQ_WAVES),
MIN(TA_SP_TA_DATA_CYCLES_sum/SQ_WAVES),
MAX(TA_SP_TA_DATA_CYCLES_sum/SQ_WAVES),
"Cycles/wave" from $dbName.pmc_ta_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT 
"Shader2TA Starve",
AVG(100*TA_TA_SH_FIFO_STARVED_sum/(GRBM_GUI_ACTIVE*$numCU)),
MIN(100*TA_TA_SH_FIFO_STARVED_sum/(GRBM_GUI_ACTIVE*$numCU)),
MAX(100*TA_TA_SH_FIFO_STARVED_sum/(GRBM_GUI_ACTIVE*$numCU)),
"pct" from $dbName.pmc_ta_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT 
"TC2TA Addr Stall",
AVG(100*TA_ADDR_STALLED_BY_TC_CYCLES_sum/(GRBM_GUI_ACTIVE*$numCU)),
MIN(100*TA_ADDR_STALLED_BY_TC_CYCLES_sum/(GRBM_GUI_ACTIVE*$numCU)),
MAX(100*TA_ADDR_STALLED_BY_TC_CYCLES_sum/(GRBM_GUI_ACTIVE*$numCU)),
"pct" from $dbName.pmc_ta_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT 
"TC2TA Data Stall",
AVG(100*TA_DATA_STALLED_BY_TC_CYCLES_sum/(GRBM_GUI_ACTIVE*$numCU)),
MIN(100*TA_DATA_STALLED_BY_TC_CYCLES_sum/(GRBM_GUI_ACTIVE*$numCU)),
MAX(100*TA_DATA_STALLED_BY_TC_CYCLES_sum/(GRBM_GUI_ACTIVE*$numCU)),
"pct" from $dbName.pmc_ta_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)



union SELECT 
"TD2TA Addr Stall",
AVG(100*TA_ADDR_STALLED_BY_TD_CYCLES_sum/(GRBM_GUI_ACTIVE*$numCU)),
MIN(100*TA_ADDR_STALLED_BY_TD_CYCLES_sum/(GRBM_GUI_ACTIVE*$numCU)),
MAX(100*TA_ADDR_STALLED_BY_TD_CYCLES_sum/(GRBM_GUI_ACTIVE*$numCU)),
"pct" from $dbName.pmc_ta_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT 
"Total Req",
AVG(TA_TOTAL_WAVEFRONTS_sum/SQ_WAVES),
MIN(TA_TOTAL_WAVEFRONTS_sum/SQ_WAVES),
MAX(TA_TOTAL_WAVEFRONTS_sum/SQ_WAVES),
"Req/wave" from $dbName.pmc_ta_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT 
"Flat Req",
AVG(TA_FLAT_WAVEFRONTS_sum/SQ_WAVES),
MIN(TA_FLAT_WAVEFRONTS_sum/SQ_WAVES),
MAX(TA_FLAT_WAVEFRONTS_sum/SQ_WAVES),
"Req/wave" from $dbName.pmc_ta_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT 
"Flat Read Req",
AVG(TA_FLAT_READ_WAVEFRONTS_sum/SQ_WAVES),
MIN(TA_FLAT_READ_WAVEFRONTS_sum/SQ_WAVES),
MAX(TA_FLAT_READ_WAVEFRONTS_sum/SQ_WAVES),
"Req/wave" from $dbName.pmc_ta_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT 
"Flat Write Req",
AVG(TA_FLAT_WRITE_WAVEFRONTS_sum/SQ_WAVES),
MIN(TA_FLAT_WRITE_WAVEFRONTS_sum/SQ_WAVES),
MAX(TA_FLAT_WRITE_WAVEFRONTS_sum/SQ_WAVES),
"Req/wave" from $dbName.pmc_ta_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT 
"Flat Atomic Req",
AVG(TA_FLAT_ATOMIC_WAVEFRONTS_sum/SQ_WAVES),
MIN(TA_FLAT_ATOMIC_WAVEFRONTS_sum/SQ_WAVES),
MAX(TA_FLAT_ATOMIC_WAVEFRONTS_sum/SQ_WAVES),
"Req/wave" from $dbName.pmc_ta_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT 
"Flat Coalescable Req",
AVG(TA_FLAT_COALESCEABLE_WAVEFRONTS_sum/SQ_WAVES),
MIN(TA_FLAT_COALESCEABLE_WAVEFRONTS_sum/SQ_WAVES),
MAX(TA_FLAT_COALESCEABLE_WAVEFRONTS_sum/SQ_WAVES),
"Req/wave" from $dbName.pmc_ta_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT 
"Buffer Req",
AVG(TA_BUFFER_WAVEFRONTS_sum/SQ_WAVES),
MIN(TA_BUFFER_WAVEFRONTS_sum/SQ_WAVES),
MAX(TA_BUFFER_WAVEFRONTS_sum/SQ_WAVES),
"Req/wave" from $dbName.pmc_ta_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT 
"Buffer Read Req",
AVG(TA_BUFFER_READ_WAVEFRONTS_sum/SQ_WAVES),
MIN(TA_BUFFER_READ_WAVEFRONTS_sum/SQ_WAVES),
MAX(TA_BUFFER_READ_WAVEFRONTS_sum/SQ_WAVES),
"Req/wave" from $dbName.pmc_ta_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT 
"Buffer Write Req",
AVG(TA_BUFFER_WRITE_WAVEFRONTS_sum/SQ_WAVES),
MIN(TA_BUFFER_WRITE_WAVEFRONTS_sum/SQ_WAVES),
MAX(TA_BUFFER_WRITE_WAVEFRONTS_sum/SQ_WAVES),
"Req/wave" from $dbName.pmc_ta_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT 
"Buffer Atomic Req",
AVG(TA_BUFFER_ATOMIC_WAVEFRONTS_sum/SQ_WAVES),
MIN(TA_BUFFER_ATOMIC_WAVEFRONTS_sum/SQ_WAVES),
MAX(TA_BUFFER_ATOMIC_WAVEFRONTS_sum/SQ_WAVES),
"Req/wave" from $dbName.pmc_ta_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT 
"Buffer Coalescable Req",
AVG(TA_BUFFER_COALESCABLE_WAVEFRONTS_sum/SQ_WAVES),
MIN(TA_BUFFER_COALESCABLE_WAVEFRONTS_sum/SQ_WAVES),
MAX(TA_BUFFER_COALESCABLE_WAVEFRONTS_sum/SQ_WAVES),
"Req/wave" from $dbName.pmc_ta_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT 
"Buffer Total Cycles",
AVG(TA_BUFFER_TOTAL_CYCLES_sum/SQ_WAVES),
MIN(TA_BUFFER_TOTAL_CYCLES_sum/SQ_WAVES),
MAX(TA_BUFFER_TOTAL_CYCLES_sum/SQ_WAVES),
"Req/wave" from $dbName.pmc_ta_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT 
"Buffer Coalesced Read Cycles",
AVG(TA_BUFFER_COALESCED_READ_CYCLES_sum/SQ_WAVES),
MIN(TA_BUFFER_COALESCED_READ_CYCLES_sum/SQ_WAVES),
MAX(TA_BUFFER_COALESCED_READ_CYCLES_sum/SQ_WAVES),
"Req/wave" from $dbName.pmc_ta_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT 
"Buffer Coalesced Write Cycles",
AVG(TA_BUFFER_COALESCED_WRITE_CYCLES_sum/SQ_WAVES),
MIN(TA_BUFFER_COALESCED_WRITE_CYCLES_sum/SQ_WAVES),
MAX(TA_BUFFER_COALESCED_WRITE_CYCLES_sum/SQ_WAVES),
"Req/wave" from $dbName.pmc_ta_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)



