SELECT 
"SALU Util (%)" AS "Metric",
AVG(100* SQ_ACTIVE_INST_SCA/(GRBM_GUI_ACTIVE*$numCU)) As "Value",
"pct" As "Unit",
100 AS "Peak",
AVG(100* SQ_ACTIVE_INST_SCA/(GRBM_GUI_ACTIVE*$numCU)) As "Percent of Peak(PoP)"
from $dbName.pmc_sq_perf1 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter) 

union SELECT
"VALU Util (%)",
AVG(100* SQ_ACTIVE_INST_VALU/(GRBM_GUI_ACTIVE*$numCU)),
"pct",
100,
AVG(100* SQ_ACTIVE_INST_VALU/(GRBM_GUI_ACTIVE*$numCU)) 
from $dbName.pmc_sq_perf1 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter) 


union SELECT
"MFMA Util (%)",
AVG(100* SQ_VALU_MFMA_BUSY_CYCLES/(GRBM_GUI_ACTIVE*$numCU*4)),
"pct",
100,
AVG(100* SQ_VALU_MFMA_BUSY_CYCLES/(GRBM_GUI_ACTIVE*$numCU*4)) 
from $dbName.pmc_sq_perf1 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter) 

union SELECT "Thread Divergence",
AVG(100*(1-SQ_THREAD_CYCLES_VALU / SQ_ACTIVE_INST_VALU/64)),
"pct",
100,
AVG(100*(1-SQ_THREAD_CYCLES_VALU / SQ_ACTIVE_INST_VALU/64))
from $dbName.pmc_sq_perf1 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter) 


/*
 * SIMD Time:  4*SQ_BUSY_CU_CYCLES  
 * Active SIMDs: round(AVG( 4*SQ_BUSY_CU_CYCLES  / ((EndNs - BeginNs)*$freq/1000) ) + 0.5)
 *           N = round(AVG( 4 * SQ_BUSY_CU_CYCLES  / ((EndNs - BeginNs)*$freq/1000) ))
 */ 
union SELECT
'Active CUs',
$numCU,
'CUs',
$numCU,
100* $numCU / $numCU
from $dbName.pmc_sq_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT 
"Wavefront Occupancy",
AVG(SQ_ACCUM_PREV_HIRES/ GRBM_GUI_ACTIVE),
"Wavefronts",
$numWavesPerCU*$numCU,
100* AVG ( SQ_ACCUM_PREV_HIRES/ GRBM_GUI_ACTIVE  / ($numWavesPerCU*$numCU) )
from $dbName.pmc_sq_perf8 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter) 

union SELECT 
"Wavefront Occu/ActiveCU",
AVG(SQ_ACCUM_PREV_HIRES/ GRBM_GUI_ACTIVE/$numCU),
"Wavefronts",
$numWavesPerCU,
100* AVG(SQ_ACCUM_PREV_HIRES/ GRBM_GUI_ACTIVE/$numCU)  / $numWavesPerCU
from $dbName.pmc_sq_perf8 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter) 




union SELECT 'IPC (Issue)', 
AVG((SQ_INSTS_VALU + SQ_INSTS_VMEM + SQ_INSTS_SALU + SQ_INSTS_SMEM + SQ_INSTS_GDS + SQ_INSTS_EXP + SQ_INSTS_BRANCH +SQ_INSTS_SENDMSG + SQ_INSTS_VSKIPPED) / SQ_ACTIVE_INST_ANY), 
'Instr/cycle',
1,
100*AVG((SQ_INSTS_VALU + SQ_INSTS_VMEM + SQ_INSTS_SALU + SQ_INSTS_SMEM + SQ_INSTS_GDS + SQ_INSTS_EXP + SQ_INSTS_BRANCH +SQ_INSTS_SENDMSG + SQ_INSTS_VSKIPPED) / SQ_ACTIVE_INST_ANY)/1
from $dbName.pmc_sq_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

/* Instruction fetch size: 32 bytes*/
union SELECT
'Instr Fetch BW',
AVG( SQ_IFETCH/(EndNs - BeginNs) * 32 ),
'GB/s',
$freq/1000*32* $numSQC,
100*AVG( SQ_IFETCH/(EndNs - BeginNs) * 32 ) / ($freq/1000*32* $numSQC)
from $dbName.pmc_sq_perf4 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)



union SELECT "TD Busy",
AVG(100*TD_TD_BUSY_sum/(GRBM_GUI_ACTIVE*$numCU)),
"pct",
100,
AVG(100*TD_TD_BUSY_sum/(GRBM_GUI_ACTIVE*$numCU))
from $dbName.pmc_td_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT "TC2TD Stall",
AVG(100*TD_TC_STALL_sum/(GRBM_GUI_ACTIVE*$numCU)),
"pct",
100,
AVG(100*TD_TC_STALL_sum/(GRBM_GUI_ACTIVE*$numCU))
from $dbName.pmc_td_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


/* L1I and L1K Caches */
union SELECT "L1I BW",
AVG(SQC_ICACHE_REQ / (EndNs - BeginNs) * 64), 
 'GB/s',
 $freq/1000*64 * $numSQC,
100*AVG(SQC_ICACHE_REQ / (EndNs - BeginNs) * 64) /  ($freq/1000*64 * $numSQC)
from $dbName.pmc_sqc_icache_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT "L1I Hit Rate",
AVG((100* SQC_ICACHE_HITS / (SQC_ICACHE_HITS + SQC_ICACHE_MISSES))), 
 'pct',
100,
AVG((100* SQC_ICACHE_HITS / (SQC_ICACHE_HITS + SQC_ICACHE_MISSES)))
from $dbName.pmc_sqc_icache_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT "L1K BW",
AVG(SQC_DCACHE_REQ / (EndNs - BeginNs)) * 64, 
"GB/s",
$freq/1000*64 * $numSQC,
100 * AVG((SQC_DCACHE_REQ / (EndNs - BeginNs) * 64)) / ($freq/1000*64 * $numSQC)
from $dbName.pmc_sqc_dcache_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT "L1K Cache Hits",
AVG(100*SQC_DCACHE_HITS/(SQC_DCACHE_HITS + SQC_DCACHE_MISSES)),
"pct",
100,
AVG(100*SQC_DCACHE_HITS/(SQC_DCACHE_HITS + SQC_DCACHE_MISSES))
from $dbName.pmc_sqc_dcache_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)



/* TCP  */
union SELECT  "Vector L1 BW",
AVG(TCP_TOTAL_CACHE_ACCESSES_sum*64/(EndNs - BeginNs)),
"GB/s",
$freq/1000*64*$numCU,
100 * AVG(TCP_TOTAL_CACHE_ACCESSES_sum*64/(EndNs - BeginNs)) / ($freq/1000*64*$numCU)
from $dbName.pmc_tcp_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT  "Vector L1 Cache Hits",
AVG(100*TCP_TOTAL_HIT_LRU_READ_sum/TCP_TOTAL_ACCESSES_sum),
"pct",
100,
AVG(100*TCP_TOTAL_HIT_LRU_READ_sum/TCP_TOTAL_ACCESSES_sum)
from $dbName.pmc_tcp_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


/* L2 */
union SELECT "L2 Cache Hits",
AVG(100*TCC_HIT_sum/(TCC_HIT_sum + TCC_MISS_sum)),
"pct",
100,
AVG(100*TCC_HIT_sum/(TCC_HIT_sum + TCC_MISS_sum))
from $dbName.pmc_tcc_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


/* L2 - EA */
union SELECT "EA Read BW",
AVG( (TCC_EA_RDREQ_32B_sum * 32 + (TCC_EA_RDREQ_sum - TCC_EA_RDREQ_32B_sum)*64) / (EndNs - BeginNs) ),
"GB/s",
$hbmBW,
100*AVG( (TCC_EA_RDREQ_32B_sum * 32 + (TCC_EA_RDREQ_sum - TCC_EA_RDREQ_32B_sum)*64) / (EndNs - BeginNs) ) / $hbmBW 
from $dbName.pmc_tcc_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT "EA Write BW",
AVG( (TCC_EA_WRREQ_64B_sum * 64 + (TCC_EA_WRREQ_sum - TCC_EA_WRREQ_64B_sum)*32) / (EndNs - BeginNs) ),
"GB/s",
$hbmBW,
100*AVG( (TCC_EA_WRREQ_64B_sum * 64 + (TCC_EA_WRREQ_sum - TCC_EA_WRREQ_64B_sum)*32) / (EndNs - BeginNs) ) / $hbmBW 
from $dbName.pmc_tcc_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT "EA Read Latency",
AVG(TCC_EA_RDREQ_LEVEL_sum/TCC_EA_RDREQ_sum*1000/$freq),
"ns",
"",
"" 
from $dbName.pmc_tcc_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT "EA Write Latency",
AVG(TCC_EA_WRREQ_LEVEL_sum/TCC_EA_WRREQ_sum*1000/$freq),
"ns",
"",
"" 
from $dbName.pmc_tcc_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)
