SELECT
'GPU Busy Cycles' AS "Metrics",
AVG(GRBM_GUI_ACTIVE) AS "Avg",
MIN(GRBM_GUI_ACTIVE) AS "Min",
MAX(GRBM_GUI_ACTIVE) AS "Max",
'Cycles' AS "Unit"
from $dbName.pmc_cpf_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT
'CPF Clock' AS "Metrics",
AVG(CPF_ALWAYS_COUNT) AS "Avg",
MIN(CPF_ALWAYS_COUNT) AS "Min",
MAX(CPF_ALWAYS_COUNT) AS "Max",
'Cycles' AS "Unit"
from $dbName.pmc_cpf_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT
'CPF Busy' AS "Metrics",
AVG(CPF_CPF_STAT_BUSY) AS "Avg",
MIN(CPF_CPF_STAT_BUSY) AS "Min",
MAX(CPF_CPF_STAT_BUSY) AS "Max",
'Cycles' AS "Unit"
from $dbName.pmc_cpf_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT
'CPF Util' AS "Metrics",
AVG(100*CPF_CPF_STAT_BUSY/(CPF_CPF_STAT_BUSY + CPF_CPF_STAT_IDLE)) AS "Avg",
MIN(100*CPF_CPF_STAT_BUSY/(CPF_CPF_STAT_BUSY + CPF_CPF_STAT_IDLE)) AS "Min",
MAX(100*CPF_CPF_STAT_BUSY/(CPF_CPF_STAT_BUSY + CPF_CPF_STAT_IDLE)) AS "Max",
'pct' AS "Unit"
from $dbName.pmc_cpf_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT
'CPF Stall' AS "Metrics",
AVG(100*CPF_CPF_STAT_STALL/CPF_CPF_STAT_BUSY) AS "Avg",
MIN(100*CPF_CPF_STAT_STALL/CPF_CPF_STAT_BUSY) AS "Min",
MAX(100*CPF_CPF_STAT_STALL/CPF_CPF_STAT_BUSY) AS "Max",
'pct' AS "Unit"
from $dbName.pmc_cpf_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT
'L2Cache Intf Busy' AS "Metrics",
AVG(CPF_CPF_TCIU_BUSY) AS "Avg",
MIN(CPF_CPF_TCIU_BUSY) AS "Min",
MAX(CPF_CPF_TCIU_BUSY) AS "Max",
'Cycles' AS "Unit"
from $dbName.pmc_cpf_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT
'L2Cache Intf Util' AS "Metrics",
AVG(100*CPF_CPF_TCIU_BUSY/(CPF_CPF_TCIU_BUSY + CPF_CPF_TCIU_IDLE)) AS "Avg",
MIN(100*CPF_CPF_TCIU_BUSY/(CPF_CPF_TCIU_BUSY + CPF_CPF_TCIU_IDLE)) AS "Min",
MAX(100*CPF_CPF_TCIU_BUSY/(CPF_CPF_TCIU_BUSY + CPF_CPF_TCIU_IDLE)) AS "Max",
'pct' AS "Unit"
from $dbName.pmc_cpf_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT
'L2Cache Intf Stall' AS "Metrics",
AVG(100*CPF_CPF_TCIU_STALL/CPF_CPF_TCIU_BUSY) AS "Avg",
MIN(100*CPF_CPF_TCIU_STALL/CPF_CPF_TCIU_BUSY) AS "Min",
MAX(100*CPF_CPF_TCIU_STALL/CPF_CPF_TCIU_BUSY) AS "Max",
'pct' AS "Unit"
from $dbName.pmc_cpf_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT
'UTCL1 Stall' AS "Metrics",
AVG(CPF_CMP_UTCL1_STALL_ON_TRANSLATION) AS "Avg",
MIN(CPF_CMP_UTCL1_STALL_ON_TRANSLATION) AS "Min",
MAX(CPF_CMP_UTCL1_STALL_ON_TRANSLATION) AS "Max",
'Cycles' AS "Unit"
from $dbName.pmc_cpf_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT
'UTCL2 Intf Busy' AS "Metrics",
AVG(CPF_CPF_UTCL2IU_BUSY) AS "Avg",
MIN(CPF_CPF_UTCL2IU_BUSY) AS "Min",
MAX(CPF_CPF_UTCL2IU_BUSY) AS "Max",
'Cycles' AS "Unit"
from $dbName.pmc_cpf_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT
'UTCL2 Intf Util' AS "Metrics",
AVG(100*CPF_CPF_UTCL2IU_BUSY/(CPF_CPF_UTCL2IU_BUSY + CPF_CPF_UTCL2IU_IDLE)) AS "Avg",
MIN(100*CPF_CPF_UTCL2IU_BUSY/(CPF_CPF_UTCL2IU_BUSY + CPF_CPF_UTCL2IU_IDLE)) AS "Min",
MAX(100*CPF_CPF_UTCL2IU_BUSY/(CPF_CPF_UTCL2IU_BUSY + CPF_CPF_UTCL2IU_IDLE)) AS "Max",
'pct' AS "Unit"
from $dbName.pmc_cpf_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT
'UTCL2 Intf Stall' AS "Metrics",
AVG(100*CPF_CPF_UTCL2IU_STALL/CPF_CPF_UTCL2IU_BUSY) AS "Avg",
MIN(100*CPF_CPF_UTCL2IU_STALL/CPF_CPF_UTCL2IU_BUSY) AS "Min",
MAX(100*CPF_CPF_UTCL2IU_STALL/CPF_CPF_UTCL2IU_BUSY) AS "Max",
'pct' AS "Unit"
from $dbName.pmc_cpf_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT
'L2Cache Read' AS "Metrics",
AVG(CPF_TCIU_READ_REQUEST_SENT) AS "Avg",
MIN(CPF_TCIU_READ_REQUEST_SENT) AS "Min",
MAX(CPF_TCIU_READ_REQUEST_SENT) AS "Max",
'#req' AS "Unit"
from $dbName.pmc_cpf_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)
