SELECT
'GPU Busy Cycles' AS "Metrics",
AVG(GRBM_GUI_ACTIVE) AS "Avg",
MIN(GRBM_GUI_ACTIVE) AS "Min",
MAX(GRBM_GUI_ACTIVE) AS "Max",
'Cycles' AS "Unit"
from $dbName.pmc_cpc_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT
'CPC Clock' AS "Metrics",
AVG(CPC_ALWAYS_COUNT) AS "Avg",
MIN(CPC_ALWAYS_COUNT) AS "Min",
MAX(CPC_ALWAYS_COUNT) AS "Max",
'Cycles' AS "Unit"
from $dbName.pmc_cpc_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT
'CPC Busy Cycles' AS "Metrics",
AVG(CPC_CPC_STAT_BUSY) AS "Avg",
MIN(CPC_CPC_STAT_BUSY) AS "Min",
MAX(CPC_CPC_STAT_BUSY) AS "Max",
'Cycles' AS "Unit"
from $dbName.pmc_cpc_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT
'CPC Util' AS "Metrics",
AVG(100*CPC_CPC_STAT_BUSY/(CPC_CPC_STAT_BUSY + CPC_CPC_STAT_IDLE)) AS "Avg",
MIN(100*CPC_CPC_STAT_BUSY/(CPC_CPC_STAT_BUSY + CPC_CPC_STAT_IDLE)) AS "Min",
MAX(100*CPC_CPC_STAT_BUSY/(CPC_CPC_STAT_BUSY + CPC_CPC_STAT_IDLE)) AS "Max",
'pct' AS "Unit"
from $dbName.pmc_cpc_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT
'CPC Stall Cycles' AS "Metrics",
AVG(CPC_CPC_STAT_STALL) AS "Avg",
MIN(CPC_CPC_STAT_STALL) AS "Min",
MAX(CPC_CPC_STAT_STALL) AS "Max",
'Cycles' AS "Unit"
from $dbName.pmc_cpc_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT
'CPC Stall Rate' AS "Metrics",
AVG(100*CPC_CPC_STAT_STALL/CPC_CPC_STAT_BUSY) AS "Avg",
MIN(100*CPC_CPC_STAT_STALL/CPC_CPC_STAT_BUSY) AS "Min",
MAX(100*CPC_CPC_STAT_STALL/CPC_CPC_STAT_BUSY) AS "Max",
'pct' AS "Unit"
from $dbName.pmc_cpc_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT
'CPC Packet Decoding' AS "Metrics",
AVG(CPC_ME1_BUSY_FOR_PACKET_DECODE) AS "Avg",
MIN(CPC_ME1_BUSY_FOR_PACKET_DECODE) AS "Min",
MAX(CPC_ME1_BUSY_FOR_PACKET_DECODE) AS "Max",
'Cycles' AS "Unit"
from $dbName.pmc_cpc_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT
'CPC Stall Reading Packets' AS "Metrics",
AVG(CPC_ME1_STALL_ON_DATA_FROM_ROQ) AS "Avg",
MIN(CPC_ME1_STALL_ON_DATA_FROM_ROQ) AS "Min",
MAX(CPC_ME1_STALL_ON_DATA_FROM_ROQ) AS "Max",
'Cycles' AS "Unit"
from $dbName.pmc_cpc_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT
'SPI Intf Busy' AS "Metrics",
AVG(CPC_ME1_DC0_SPI_BUSY) AS "Avg",
MIN(CPC_ME1_DC0_SPI_BUSY) AS "Min",
MAX(CPC_ME1_DC0_SPI_BUSY) AS "Max",
'Cycles' AS "Unit"
from $dbName.pmc_cpc_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)
/*
union SELECT
'ME1 Stalled on ROQ Data' AS "Metrics",
AVG(CPC_ME1_STALL_ON_DATA_FROM_ROQ) AS "Avg",
MIN(CPC_ME1_STALL_ON_DATA_FROM_ROQ) AS "Min",
MAX(CPC_ME1_STALL_ON_DATA_FROM_ROQ) AS "Max",
'Cycles' AS "Unit"
from $dbName.pmc_cpc_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)
*/

union SELECT
'SPI Intf Util' AS "Metrics",
AVG(100*CPC_ME1_DC0_SPI_BUSY/CPC_CPC_STAT_BUSY) AS "Avg",
MIN(100*CPC_ME1_DC0_SPI_BUSY/CPC_CPC_STAT_BUSY) AS "Min",
MAX(100*CPC_ME1_DC0_SPI_BUSY/CPC_CPC_STAT_BUSY) AS "Max",
'pct' AS "Unit"
from $dbName.pmc_cpc_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT
'L2Cache Intf Busy' AS "Metrics",
AVG(CPC_CPC_TCIU_BUSY) AS "Avg",
MIN(CPC_CPC_TCIU_BUSY) AS "Min",
MAX(CPC_CPC_TCIU_BUSY) AS "Max",
'Cycles' AS "Unit"
from $dbName.pmc_cpc_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT
'L2Cache Intf Util' AS "Metrics",
AVG(100*CPC_CPC_TCIU_BUSY/(CPC_CPC_TCIU_BUSY + CPC_CPC_TCIU_IDLE)) AS "Avg",
MIN(100*CPC_CPC_TCIU_BUSY/(CPC_CPC_TCIU_BUSY + CPC_CPC_TCIU_IDLE)) AS "Min",
MAX(100*CPC_CPC_TCIU_BUSY/(CPC_CPC_TCIU_BUSY + CPC_CPC_TCIU_IDLE)) AS "Max",
'pct' AS "Unit"
from $dbName.pmc_cpc_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT
'UTCL1 Stall' AS "Metrics",
AVG(CPC_UTCL1_STALL_ON_TRANSLATION) AS "Avg",
MIN(CPC_UTCL1_STALL_ON_TRANSLATION) AS "Min",
MAX(CPC_UTCL1_STALL_ON_TRANSLATION) AS "Max",
'Cycles' AS "Unit"
from $dbName.pmc_cpc_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT
'UTCL2 Busy' AS "Metrics",
AVG(CPC_CPC_UTCL2IU_BUSY) AS "Avg",
MIN(CPC_CPC_UTCL2IU_BUSY) AS "Min",
MAX(CPC_CPC_UTCL2IU_BUSY) AS "Max",
'Cycles' AS "Unit"
from $dbName.pmc_cpc_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT
'UTCL2 Util' AS "Metrics",
AVG(100*CPC_CPC_UTCL2IU_BUSY/(CPC_CPC_UTCL2IU_BUSY + CPC_CPC_UTCL2IU_IDLE)) AS "Avg",
MIN(100*CPC_CPC_UTCL2IU_BUSY/(CPC_CPC_UTCL2IU_BUSY + CPC_CPC_UTCL2IU_IDLE)) AS "Min",
MAX(100*CPC_CPC_UTCL2IU_BUSY/(CPC_CPC_UTCL2IU_BUSY + CPC_CPC_UTCL2IU_IDLE)) AS "Max",
'pct' AS "Unit"
from $dbName.pmc_cpc_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT
'UTCL2 Stall' AS "Metrics",
AVG(CPC_UTCL2IU_STALL_WAIT_ON_FREE + CPC_UTCL2IU_STALL_WAIT_ON_TAGS) AS "Avg",
MIN(CPC_UTCL2IU_STALL_WAIT_ON_FREE + CPC_UTCL2IU_STALL_WAIT_ON_TAGS) AS "Min",
MAX(CPC_UTCL2IU_STALL_WAIT_ON_FREE + CPC_UTCL2IU_STALL_WAIT_ON_TAGS) AS "Max",
'Cycles' AS "Unit"
from $dbName.pmc_cpc_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

