SELECT
'Wave request Failed (CS)' AS "Metrics",
AVG(SPI_RA_REQ_NO_ALLOC_CSN) AS "Avg",
MIN(SPI_RA_REQ_NO_ALLOC_CSN) AS "Min",
MAX(SPI_RA_REQ_NO_ALLOC_CSN) AS "Max",
'Cycles' AS "Unit"
from $dbName.pmc_spi_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT
'CS Stall' AS "Metrics",
AVG(SPI_RA_RES_STALL_CSN) AS "Avg",
MIN(SPI_RA_RES_STALL_CSN) AS "Min",
MAX(SPI_RA_RES_STALL_CSN) AS "Max",
'Cycles' AS "Unit"
from $dbName.pmc_spi_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT
'Scratch Stall' AS "Metrics",
AVG(SPI_RA_TMP_STALL_CSN) AS "Avg",
MIN(SPI_RA_TMP_STALL_CSN) AS "Min",
MAX(SPI_RA_TMP_STALL_CSN) AS "Max",
'Cycles' AS "Unit"
from $dbName.pmc_spi_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT
'Insufficient SIMD Waveslots' AS "Metrics",
AVG(SPI_RA_WAVE_SIMD_FULL_CSN) AS "Avg",
MIN(SPI_RA_WAVE_SIMD_FULL_CSN) AS "Min",
MAX(SPI_RA_WAVE_SIMD_FULL_CSN) AS "Max",
'#SIMD' AS "Unit"
from $dbName.pmc_spi_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT
'Insufficient SIMD VGPRs' AS "Metrics",
AVG(SPI_RA_VGPR_SIMD_FULL_CSN) AS "Avg",
MIN(SPI_RA_VGPR_SIMD_FULL_CSN) AS "Min",
MAX(SPI_RA_VGPR_SIMD_FULL_CSN) AS "Max",
'#SIMD' AS "Unit"
from $dbName.pmc_spi_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT
'Insufficient SIMD SGPRs' AS "Metrics",
AVG(SPI_RA_SGPR_SIMD_FULL_CSN) AS "Avg",
MIN(SPI_RA_SGPR_SIMD_FULL_CSN) AS "Min",
MAX(SPI_RA_SGPR_SIMD_FULL_CSN) AS "Max",
'#SIMD' AS "Unit"
from $dbName.pmc_spi_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT
'Insufficient CU LDS' AS "Metrics",
AVG(SPI_RA_LDS_CU_FULL_CSN) AS "Avg",
MIN(SPI_RA_LDS_CU_FULL_CSN) AS "Min",
MAX(SPI_RA_LDS_CU_FULL_CSN) AS "Max",
'#SIMD' AS "Unit"
from $dbName.pmc_spi_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT
'Insufficient CU Barries' AS "Metrics",
AVG(SPI_RA_BAR_CU_FULL_CSN) AS "Avg",
MIN(SPI_RA_BAR_CU_FULL_CSN) AS "Min",
MAX(SPI_RA_BAR_CU_FULL_CSN) AS "Max",
'#SIMD' AS "Unit"
from $dbName.pmc_spi_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT
'Insufficient Bulky Resource ' AS "Metrics",
AVG(SPI_RA_BULKY_CU_FULL_CSN) AS "Avg",
MIN(SPI_RA_BULKY_CU_FULL_CSN) AS "Min",
MAX(SPI_RA_BULKY_CU_FULL_CSN) AS "Max",
'#SIMD' AS "Unit"
from $dbName.pmc_spi_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT
'Reaching CU Threadgroups Limit' AS "Metrics",
AVG(SPI_RA_TGLIM_CU_FULL_CSN) AS "Avg",
MIN(SPI_RA_TGLIM_CU_FULL_CSN) AS "Min",
MAX(SPI_RA_TGLIM_CU_FULL_CSN) AS "Max",
'Cycles' AS "Unit"
from $dbName.pmc_spi_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT
'Reach CU Wave Limit' AS "Metrics",
AVG(SPI_RA_WVLIM_STALL_CSN) AS "Avg",
MIN(SPI_RA_WVLIM_STALL_CSN) AS "Min",
MAX(SPI_RA_WVLIM_STALL_CSN) AS "Max",
'cycles' AS "Unit"
from $dbName.pmc_spi_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT
'VGPR Writes' AS "Metrics",
AVG(4 * SPI_VWC_CSC_WR/SPI_CSN_WAVE) AS "Avg",
MIN(4 * SPI_VWC_CSC_WR/SPI_CSN_WAVE) AS "Min",
MAX(4 * SPI_VWC_CSC_WR/SPI_CSN_WAVE) AS "Max",
'cycles/wave' AS "Unit"
from $dbName.pmc_spi_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT
'SGPR Writes' AS "Metrics",
AVG(1 * SPI_SWC_CSC_WR/SPI_CSN_WAVE) AS "Avg",
MIN(1 * SPI_SWC_CSC_WR/SPI_CSN_WAVE) AS "Min",
MAX(1 * SPI_SWC_CSC_WR/SPI_CSN_WAVE) AS "Max",
'cycles/wave' AS "Unit"
from $dbName.pmc_spi_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT
'SGPR WritesUti' AS "Metrics",
AVG(1 * SPI_SWC_CSC_WR/GRBM_SPI_BUSY/8) AS "Avg",
MIN(1 * SPI_SWC_CSC_WR/GRBM_SPI_BUSY/8) AS "Min",
MAX(1 * SPI_SWC_CSC_WR/GRBM_SPI_BUSY/8) AS "Max",
'cycles/wave' AS "Unit"
from $dbName.pmc_spi_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


/*

union SELECT
'TG Split allow' AS "Metrics",
AVG(SPI_CSC_TG_SPLIT_ALLOW) AS "Avg",
MIN(SPI_CSC_TG_SPLIT_ALLOW) AS "Min",
MAX(SPI_CSC_TG_SPLIT_ALLOW) AS "Max",
'#TG' AS "Unit"
from $dbName.pmc_spi_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT
'TG Split Trigger' AS "Metrics",
AVG(SPI_CSC_TG_SPLIT_TRIGGER) AS "Avg",
MIN(SPI_CSC_TG_SPLIT_TRIGGER) AS "Min",
MAX(SPI_CSC_TG_SPLIT_TRIGGER) AS "Max",
'#TG' AS "Unit"
from $dbName.pmc_spi_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)
*/