SELECT
'Wave Cycles' AS "Metrics",
AVG(4.0*SQ_WAVE_CYCLES/SQ_WAVES ) As "Avg",
MIN(4.0*SQ_WAVE_CYCLES/SQ_WAVES )  As "Min",
MAX(4.0*SQ_WAVE_CYCLES/SQ_WAVES )  As "Max",
'Cycles/Wave'                                     As "Unit"
from $dbName.pmc_sq_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT 
'LDS Instrs',
AVG(SQ_INSTS_LDS/SQ_WAVES) As "Avg",
MIN(SQ_INSTS_LDS/SQ_WAVES) As "Min",
MAX(SQ_INSTS_LDS/SQ_WAVES) As "Max",
'Instr/Wave'  As "Unit"
from $dbName.pmc_sq_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT
'LDS Latency',
AVG(SQ_ACCUM_PREV_HIRES/SQ_INSTS_LDS ) As "Avg",
MIN(SQ_ACCUM_PREV_HIRES/SQ_INSTS_LDS ) As "Min",
MAX(SQ_ACCUM_PREV_HIRES/SQ_INSTS_LDS ) As "Max",
'Cycles'   As "Unit"                             
from $dbName.pmc_sq_perf6 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)



union SELECT 
'Index Accesses',
AVG(SQ_LDS_IDX_ACTIVE/SQ_WAVES) As "Avg",
MIN(SQ_LDS_IDX_ACTIVE/SQ_WAVES) As "Min",
MAX(SQ_LDS_IDX_ACTIVE/SQ_WAVES) As "Max",
'Cycles/Wave'  As "Unit"
from $dbName.pmc_sq_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)



union SELECT 
'Direct Read',
AVG(SQ_VALU_LDS_DIRECT_RD/SQ_WAVES) As "Avg",
MIN(SQ_VALU_LDS_DIRECT_RD/SQ_WAVES) As "Min",
MAX(SQ_VALU_LDS_DIRECT_RD/SQ_WAVES) As "Max",
'Cycles/Wave'  As "Unit"
from $dbName.pmc_sq_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT 
'Interp Op',
AVG(SQ_VALU_LDS_INTERP_OP/SQ_WAVES) As "Avg",
MIN(SQ_VALU_LDS_INTERP_OP/SQ_WAVES) As "Min",
MAX(SQ_VALU_LDS_INTERP_OP/SQ_WAVES) As "Max",
'Cycles/Wave'  As "Unit"
from $dbName.pmc_sq_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT 
'Bank Conflict',
AVG(SQ_LDS_BANK_CONFLICT/SQ_WAVES) As "Avg",
MIN(SQ_LDS_BANK_CONFLICT/SQ_WAVES) As "Min",
MAX(SQ_LDS_BANK_CONFLICT/SQ_WAVES) As "Max",
'Cycles/Wave'  As "Unit"
from $dbName.pmc_sq_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT 
'Addr Conflict',
AVG(SQ_LDS_ADDR_CONFLICT/SQ_WAVES) As "Avg",
MIN(SQ_LDS_ADDR_CONFLICT/SQ_WAVES) As "Min",
MAX(SQ_LDS_ADDR_CONFLICT/SQ_WAVES) As "Max",
'Cycles/Wave'  As "Unit"
from $dbName.pmc_sq_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT 
'Cmd FIFO Full',
AVG(SQ_LDS_CMD_FIFO_FULL/SQ_WAVES) As "Avg",
MIN(SQ_LDS_CMD_FIFO_FULL/SQ_WAVES) As "Min",
MAX(SQ_LDS_CMD_FIFO_FULL/SQ_WAVES) As "Max",
'Cycles/Wave'  As "Unit"
from $dbName.pmc_sq_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT 
'Data FIFO Full',
AVG(SQ_LDS_DATA_FIFO_FULL/SQ_WAVES) As "Avg",
MIN(SQ_LDS_DATA_FIFO_FULL/SQ_WAVES) As "Min",
MAX(SQ_LDS_DATA_FIFO_FULL/SQ_WAVES) As "Max",
'Cycles/Wave'  As "Unit"
from $dbName.pmc_sq_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT 
'Unaligned Stall',
AVG(SQ_LDS_UNALIGNED_STALL/SQ_WAVES) As "Avg",
MIN(SQ_LDS_UNALIGNED_STALL/SQ_WAVES) As "Min",
MAX(SQ_LDS_UNALIGNED_STALL/SQ_WAVES) As "Max",
'Cycles/Wave'  As "Unit"
from $dbName.pmc_sq_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT 
'Mem Violations',
AVG(SQ_LDS_MEM_VIOLATIONS/SQ_WAVES) As "Avg",
MIN(SQ_LDS_MEM_VIOLATIONS/SQ_WAVES) As "Min",
MAX(SQ_LDS_MEM_VIOLATIONS/SQ_WAVES) As "Max",
'per Wave'  As "Unit"
from $dbName.pmc_sq_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT 
'Src C/D Conflict',
AVG(SQ_LDS_SRC_CD_CONFLICT/SQ_WAVES) As "Avg",
MIN(SQ_LDS_SRC_CD_CONFLICT/SQ_WAVES) As "Min",
MAX(SQ_LDS_SRC_CD_CONFLICT/SQ_WAVES) As "Max",
'Cycles/Wave'  As "Unit"
from $dbName.pmc_sq_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)
