SELECT 'Req' AS "L1K Metrics", AVG(SQC_DCACHE_REQ/sq_waves) AS 'Mean', MIN(SQC_DCACHE_REQ/sq_waves) AS 'Min', MAX(SQC_DCACHE_REQ/sq_waves) AS 'Max', 'Req/wave' AS "Unit" 
from $dbName.pmc_sqc_dcache_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT 'Hits', AVG(SQC_DCACHE_HITS/sq_waves), MIN(SQC_DCACHE_HITS/sq_waves), MAX(SQC_DCACHE_HITS/sq_waves), 'per wave' 
from $dbName.pmc_sqc_dcache_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT 'Misses', AVG(SQC_DCACHE_MISSES/sq_waves), MIN(SQC_DCACHE_MISSES/sq_waves), MAX(SQC_DCACHE_MISSES/sq_waves),  'per wave' 
from $dbName.pmc_sqc_dcache_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT 'Cache Hits', 
AVG(100*SQC_DCACHE_HITS/(SQC_DCACHE_HITS + SQC_DCACHE_MISSES)),
MIN(100*SQC_DCACHE_HITS/(SQC_DCACHE_HITS + SQC_DCACHE_MISSES)),
MAX(100*SQC_DCACHE_HITS/(SQC_DCACHE_HITS + SQC_DCACHE_MISSES)),
'pct'
from $dbName.pmc_sqc_dcache_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT 'Invalidates (Instr)', 
AVG(SQC_DCACHE_INVAL_INST/sq_waves),
MIN(SQC_DCACHE_INVAL_INST/sq_waves),
MAX(SQC_DCACHE_INVAL_INST/sq_waves),
'per wave' from $dbName.pmc_sqc_dcache_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT 'Invalidates (Async)', 
AVG(SQC_DCACHE_INVAL_ASYNC /sq_waves),
MIN(SQC_DCACHE_INVAL_ASYNC /sq_waves),
MAX(SQC_DCACHE_INVAL_ASYNC /sq_waves),
'per wave' from $dbName.pmc_sqc_dcache_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT 'Writeback (Instr)', 
AVG(SQC_DCACHE_WB_INST/sq_waves), 
MIN(SQC_DCACHE_WB_INST/sq_waves), 
MAX(SQC_DCACHE_WB_INST/sq_waves), 
'per wave' from $dbName.pmc_sqc_dcache_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT 'Writeback (Async)', 
AVG(SQC_DCACHE_WB_ASYNC/sq_waves), 
MIN(SQC_DCACHE_WB_ASYNC/sq_waves), 
MAX(SQC_DCACHE_WB_ASYNC/sq_waves), 
'per wave' from $dbName.pmc_sqc_dcache_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)





union  SELECT 'Cache Latency', AVG(SQ_ACCUM_PREV_HIRES / SQC_DCACHE_REQ ),  MIN(SQ_ACCUM_PREV_HIRES / SQC_DCACHE_REQ),  MAX(SQ_ACCUM_PREV_HIRES / SQC_DCACHE_REQ), 'Cycles' 
from $dbName.pmc_sqc_dcache_perf2 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)



union  SELECT 'Read Req - Total', 
AVG((SQC_DCACHE_REQ_READ_1 +  SQC_DCACHE_REQ_READ_2 + SQC_DCACHE_REQ_READ_4 + SQC_DCACHE_REQ_READ_8 + SQC_DCACHE_REQ_READ_16) / sq_waves),
MIN((SQC_DCACHE_REQ_READ_1 +  SQC_DCACHE_REQ_READ_2 + SQC_DCACHE_REQ_READ_4 + SQC_DCACHE_REQ_READ_8 + SQC_DCACHE_REQ_READ_16) / sq_waves),
MAX((SQC_DCACHE_REQ_READ_1 +  SQC_DCACHE_REQ_READ_2 + SQC_DCACHE_REQ_READ_4 + SQC_DCACHE_REQ_READ_8 + SQC_DCACHE_REQ_READ_16) / sq_waves),
'req/wave'
from $dbName.pmc_sqc_dcache_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union  SELECT 'Write Req - Total', 
AVG((SQC_DCACHE_REQ_WRITE_1 +  SQC_DCACHE_REQ_WRITE_2 + SQC_DCACHE_REQ_WRITE_4) / sq_waves),
MIN((SQC_DCACHE_REQ_WRITE_1 +  SQC_DCACHE_REQ_WRITE_2 + SQC_DCACHE_REQ_WRITE_4) / sq_waves),
MAX((SQC_DCACHE_REQ_WRITE_1 +  SQC_DCACHE_REQ_WRITE_2 + SQC_DCACHE_REQ_WRITE_4) / sq_waves),
'req/wave'
from $dbName.pmc_sqc_dcache_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union  SELECT 'Flat Req', AVG(SQC_DCACHE_FLAT_REQ / sq_waves),  MIN(SQC_DCACHE_FLAT_REQ / sq_waves),  MAX(SQC_DCACHE_FLAT_REQ / sq_waves), 'req/wave' 
from $dbName.pmc_sqc_dcache_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union  SELECT 'Atomic Req', AVG(SQC_DCACHE_ATOMIC / sq_waves),  MIN(SQC_DCACHE_ATOMIC / sq_waves),  MAX(SQC_DCACHE_ATOMIC / sq_waves), 'req/wave' 
from $dbName.pmc_sqc_dcache_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union  SELECT 'Volatile Req', AVG(SQC_DCACHE_VOLATILE / sq_waves),  MIN(SQC_DCACHE_VOLATILE / sq_waves),  MAX(SQC_DCACHE_VOLATILE / sq_waves), 'req/wave' 
from $dbName.pmc_sqc_dcache_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)



union  SELECT 'Read Req (1DWord)', AVG(SQC_DCACHE_REQ_READ_1 / sq_waves),  MIN(SQC_DCACHE_REQ_READ_1/ sq_waves), MAX(SQC_DCACHE_REQ_READ_1/ sq_waves), 'req/wave' 
from $dbName.pmc_sqc_dcache_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union  SELECT 'Read Req (2DWord)', AVG(SQC_DCACHE_REQ_READ_2 / sq_waves),  MIN(SQC_DCACHE_REQ_READ_2/ sq_waves), MAX(SQC_DCACHE_REQ_READ_2/ sq_waves), 'req/wave' 
from $dbName.pmc_sqc_dcache_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union  SELECT 'Read Req (4DWord)', AVG(SQC_DCACHE_REQ_READ_4 / sq_waves),  MIN(SQC_DCACHE_REQ_READ_4/ sq_waves), MAX(SQC_DCACHE_REQ_READ_4/ sq_waves), 'req/wave' 
from $dbName.pmc_sqc_dcache_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union  SELECT 'Read Req (8DWord)', AVG(SQC_DCACHE_REQ_READ_8 / sq_waves),  MIN(SQC_DCACHE_REQ_READ_8/ sq_waves), MAX(SQC_DCACHE_REQ_READ_8/ sq_waves), 'req/wave' 
from $dbName.pmc_sqc_dcache_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union  SELECT 'Read Req (16DWord)', AVG(SQC_DCACHE_REQ_READ_16 / sq_waves),MIN(SQC_DCACHE_REQ_READ_16/ sq_waves),MAX(SQC_DCACHE_REQ_READ_16/ sq_waves), 'req/wave' 
from $dbName.pmc_sqc_dcache_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)




union  SELECT 'Write Req (1DWord)', AVG(SQC_DCACHE_REQ_WRITE_1 / sq_waves),  MIN(SQC_DCACHE_REQ_WRITE_1/ sq_waves), MAX(SQC_DCACHE_REQ_WRITE_1/ sq_waves), 'req/wave' 
from $dbName.pmc_sqc_dcache_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union  SELECT 'Write Req (2DWord)', AVG(SQC_DCACHE_REQ_WRITE_2 / sq_waves),  MIN(SQC_DCACHE_REQ_WRITE_2/ sq_waves), MAX(SQC_DCACHE_REQ_WRITE_2/ sq_waves), 'req/wave' 
from $dbName.pmc_sqc_dcache_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union  SELECT 'Write Req (4DWord)', AVG(SQC_DCACHE_REQ_WRITE_4 / sq_waves),  MIN(SQC_DCACHE_REQ_WRITE_4/ sq_waves), MAX(SQC_DCACHE_REQ_WRITE_4/ sq_waves), 'req/wave' 
from $dbName.pmc_sqc_dcache_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)




