SELECT 'Read Req' AS "L1K - TC", AVG(SQC_TC_DATA_READ_REQ/sq_waves) AS 'Mean', MIN(SQC_TC_DATA_READ_REQ/sq_waves) AS 'Min', MAX(SQC_TC_DATA_READ_REQ/sq_waves) AS 'Max', 'Req/wave' AS "Unit" 
from $dbName.pmc_sqc_dcache_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT 'Write Req', AVG(SQC_TC_DATA_WRITE_REQ/sq_waves), MIN(SQC_TC_DATA_WRITE_REQ/sq_waves), MAX(SQC_TC_DATA_WRITE_REQ/sq_waves), 'per wave' 
from $dbName.pmc_sqc_dcache_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT 'Atomic Req', AVG(SQC_TC_DATA_ATOMIC_REQ/sq_waves), MIN(SQC_TC_DATA_ATOMIC_REQ/sq_waves), MAX(SQC_TC_DATA_ATOMIC_REQ/sq_waves), 'per wave' 
from $dbName.pmc_sqc_dcache_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT 'L1K-TC Latency', 
AVG(SQ_ACCUM_PREV_HIRES/(SQC_TC_DATA_READ_REQ + SQC_TC_DATA_WRITE_REQ + SQC_TC_DATA_ATOMIC_REQ)),
MIN(SQ_ACCUM_PREV_HIRES/(SQC_TC_DATA_READ_REQ + SQC_TC_DATA_WRITE_REQ + SQC_TC_DATA_ATOMIC_REQ)),
MAX(SQ_ACCUM_PREV_HIRES/(SQC_TC_DATA_READ_REQ + SQC_TC_DATA_WRITE_REQ + SQC_TC_DATA_ATOMIC_REQ)),
'Cycles' from $dbName.pmc_sqc_dcache_perf3 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT 'TC2L1K Stall', AVG(SQC_TC_STALL/sq_waves), MIN(SQC_TC_STALL/sq_waves), MAX(SQC_TC_STALL/sq_waves), 'Cycles/wave' 
from $dbName.pmc_sqc_dcache_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT 'L1K2TC Starve', AVG(SQC_TC_STARVE/sq_waves), MIN(SQC_TC_STARVE/sq_waves), MAX(SQC_TC_STARVE/sq_waves), 'Cycles/wave' 
from $dbName.pmc_sqc_dcache_perf1 where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)
