SELECT 
"TD Busy" As "Metrics",
AVG(100*TD_TD_BUSY_sum/(GRBM_GUI_ACTIVE*$numCU)) As "Avg",
Min(100*TD_TD_BUSY_sum/(GRBM_GUI_ACTIVE*$numCU)) As "Min",
Max(100*TD_TD_BUSY_sum/(GRBM_GUI_ACTIVE*$numCU)) As "Max",
"pct" As "Unit"
from $dbName.pmc_td_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT 
"TD Input Busy" As "Metrics",
AVG(100*TD_INPUT_BUSY_sum/(GRBM_GUI_ACTIVE*$numCU)) As "Avg",
Min(100*TD_INPUT_BUSY_sum/(GRBM_GUI_ACTIVE*$numCU)) As "Min",
Max(100*TD_INPUT_BUSY_sum/(GRBM_GUI_ACTIVE*$numCU)) As "Max",
"pct" As "Unit"
from $dbName.pmc_td_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT 
"TD Output Busy" As "Metrics",
AVG(100*TD_OUTPUT_BUSY_sum/(GRBM_GUI_ACTIVE*$numCU)) As "Avg",
Min(100*TD_OUTPUT_BUSY_sum/(GRBM_GUI_ACTIVE*$numCU)) As "Min",
Max(100*TD_OUTPUT_BUSY_sum/(GRBM_GUI_ACTIVE*$numCU)) As "Max",
"pct" As "Unit"
from $dbName.pmc_td_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT 
"TC2TD Stall",
AVG(100*TD_TC_STALL_sum/(GRBM_GUI_ACTIVE*$numCU)),
MIN(100*TD_TC_STALL_sum/(GRBM_GUI_ACTIVE*$numCU)),
MAX(100*TD_TC_STALL_sum/(GRBM_GUI_ACTIVE*$numCU)),
"pct"
from $dbName.pmc_td_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT 
"PC2TD Stall",
AVG(100*TD_PC_STALL_sum/(GRBM_GUI_ACTIVE*$numCU)),
MIN(100*TD_PC_STALL_sum/(GRBM_GUI_ACTIVE*$numCU)),
MAX(100*TD_PC_STALL_sum/(GRBM_GUI_ACTIVE*$numCU)),
"pct"
from $dbName.pmc_td_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT 
"SPI2TD Stall",
AVG(100*TD_SPI_STALL_sum/(GRBM_GUI_ACTIVE*$numCU)),
MIN(100*TD_SPI_STALL_sum/(GRBM_GUI_ACTIVE*$numCU)),
MAX(100*TD_SPI_STALL_sum/(GRBM_GUI_ACTIVE*$numCU)),
"pct"
from $dbName.pmc_td_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT 
"GDS2TD Stall",
AVG(100*TD_GDS_STALL_sum/(GRBM_GUI_ACTIVE*$numCU)),
MIN(100*TD_GDS_STALL_sum/(GRBM_GUI_ACTIVE*$numCU)),
MAX(100*TD_GDS_STALL_sum/(GRBM_GUI_ACTIVE*$numCU)),
"pct"
from $dbName.pmc_td_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT 
"TC2TD FIFO Full ",
AVG(100*TD_TC_TD_FIFO_FULL_sum/(GRBM_GUI_ACTIVE*$numCU)),
MIN(100*TD_TC_TD_FIFO_FULL_sum/(GRBM_GUI_ACTIVE*$numCU)),
MAX(100*TD_TC_TD_FIFO_FULL_sum/(GRBM_GUI_ACTIVE*$numCU)),
"pct"
from $dbName.pmc_td_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT 
"Output FIFO Full ",
AVG(100*TD_OUTPUT_FIFO_FULL_sum/(GRBM_GUI_ACTIVE*$numCU)),
MIN(100*TD_OUTPUT_FIFO_FULL_sum/(GRBM_GUI_ACTIVE*$numCU)),
MAX(100*TD_OUTPUT_FIFO_FULL_sum/(GRBM_GUI_ACTIVE*$numCU)),
"pct"
from $dbName.pmc_td_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT 
"Coalescable Req",
AVG(TD_COALESCABLE_WAVEFRONT_sum/SQ_WAVES),
MIN(TD_COALESCABLE_WAVEFRONT_sum/SQ_WAVES),
MAX(TD_COALESCABLE_WAVEFRONT_sum/SQ_WAVES),
"Req/Wave"
from $dbName.pmc_td_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT 
"Coalesced Phases",
AVG(TD_COALESCED_PHASE_sum/SQ_WAVES),
MIN(TD_COALESCED_PHASE_sum/SQ_WAVES),
MAX(TD_COALESCED_PHASE_sum/SQ_WAVES),
"Phases/Wave"
from $dbName.pmc_td_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)



#Per register spec, LOAD includes Load/store/atomic
union SELECT 
"Load Req",
AVG((TD_LOAD_WAVEFRONT_sum - TD_STORE_WAVEFRONT_sum - TD_ATOMIC_WAVEFRONT_sum)/SQ_WAVES),
MIN((TD_LOAD_WAVEFRONT_sum - TD_STORE_WAVEFRONT_sum - TD_ATOMIC_WAVEFRONT_sum)/SQ_WAVES),
MAX((TD_LOAD_WAVEFRONT_sum - TD_STORE_WAVEFRONT_sum - TD_ATOMIC_WAVEFRONT_sum)/SQ_WAVES),
"Req/wave"
from $dbName.pmc_td_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT 
"Store Req",
AVG(TD_STORE_WAVEFRONT_sum/SQ_WAVES),
MIN(TD_STORE_WAVEFRONT_sum/SQ_WAVES),
MAX(TD_STORE_WAVEFRONT_sum/SQ_WAVES),
"Req/wave"
from $dbName.pmc_td_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT 
"Atomic Req",
AVG(TD_ATOMIC_WAVEFRONT_sum/SQ_WAVES),
MIN(TD_ATOMIC_WAVEFRONT_sum/SQ_WAVES),
MAX(TD_ATOMIC_WAVEFRONT_sum/SQ_WAVES),
"Req/wave"
from $dbName.pmc_td_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT 
"TD2SP VGPR Write",
AVG(TD_TD_SP_TRAFFIC_sum/SQ_WAVES),
MIN(TD_TD_SP_TRAFFIC_sum/SQ_WAVES),
MAX(TD_TD_SP_TRAFFIC_sum/SQ_WAVES),
"Cycles/wave"
from $dbName.pmc_td_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT 
"GDS2TD GDS_Done",
AVG(TD_CONSUME_GDS_TRAFFIC_sum/SQ_WAVES),
MIN(TD_CONSUME_GDS_TRAFFIC_sum/SQ_WAVES),
MAX(TD_CONSUME_GDS_TRAFFIC_sum/SQ_WAVES),
"Cycles/wave"
from $dbName.pmc_td_perf where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)



