SELECT
'CS Busy' AS "Metrics",
AVG(SPI_CSN_BUSY) AS "Avg",
MIN(SPI_CSN_BUSY) AS "Min",
MAX(SPI_CSN_BUSY) AS "Max",
'Cycles' AS "Unit"
from $dbName.pmc_spi_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT
'GPU Busy' AS "Metrics",
AVG(GRBM_GUI_ACTIVE) AS "Avg",
MIN(GRBM_GUI_ACTIVE) AS "Min",
MAX(GRBM_GUI_ACTIVE) AS "Max",
'Cycles' AS "Unit"
from $dbName.pmc_spi_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT
'SPI Busy' AS "Metrics",
AVG(GRBM_SPI_BUSY) AS "Avg",
MIN(GRBM_SPI_BUSY) AS "Min",
MAX(GRBM_SPI_BUSY) AS "Max",
'Cycles' AS "Unit"
from $dbName.pmc_spi_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT
'SQ Busy' AS "Metrics",
AVG(SQ_BUSY_CYCLES) AS "Avg",
MIN(SQ_BUSY_CYCLES) AS "Min",
MAX(SQ_BUSY_CYCLES) AS "Max",
'Cycles' AS "Unit"
from $dbName.pmc_spi_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT
'Dispatched Workgroups' AS "Metrics",
AVG(SPI_CSN_NUM_THREADGROUPS) AS "Avg",
MIN(SPI_CSN_NUM_THREADGROUPS) AS "Min",
MAX(SPI_CSN_NUM_THREADGROUPS) AS "Max",
'Workgroups' AS "Unit"
from $dbName.pmc_spi_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)



union SELECT
'Dispatched Wavefronts' AS "Metrics",
AVG(SPI_CSN_WAVE) AS "Avg",
MIN(SPI_CSN_WAVE) AS "Min",
MAX(SPI_CSN_WAVE) AS "Max",
'Wavefronts' AS "Unit"
from $dbName.pmc_spi_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)


union SELECT
'Crawler Stall' AS "Metrics",
AVG(SPI_CSN_CRAWLER_STALL) AS "Avg",
MIN(SPI_CSN_CRAWLER_STALL) AS "Min",
MAX(SPI_CSN_CRAWLER_STALL) AS "Max",
'cycles' AS "Unit"
from $dbName.pmc_spi_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT
'Write Controller Full' AS "Metrics",
AVG(SPI_RA_WR_CTL_FULL) AS "Avg",
MIN(SPI_RA_WR_CTL_FULL) AS "Min",
MAX(SPI_RA_WR_CTL_FULL) AS "Max",
'cycles' AS "Unit"
from $dbName.pmc_spi_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT
'Wave Alloc Failed' AS "Metrics",
AVG(SPI_RA_REQ_NO_ALLOC) AS "Avg",
MIN(SPI_RA_REQ_NO_ALLOC) AS "Min",
MAX(SPI_RA_REQ_NO_ALLOC) AS "Max",
'cycles' AS "Unit"
from $dbName.pmc_spi_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

union SELECT
'Wave Alloc Failed (CS)' AS "Metrics",
AVG(SPI_RA_REQ_NO_ALLOC_CSN) AS "Avg",
MIN(SPI_RA_REQ_NO_ALLOC_CSN) AS "Min",
MAX(SPI_RA_REQ_NO_ALLOC_CSN) AS "Max",
'cycles' AS "Unit"
from $dbName.pmc_spi_perf 
where KernelName IN ($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)

