
from $dbName.pmc_sqc_icache_perf3 where KernelName IN($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)
from $dbName.pmc_sqc_icache_perf2 where KernelName IN($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)
from $dbName.pmc_sqc_icache_perf1 where KernelName IN($KernelNameFilter) AND `gpu-id` in ($gpuFilter) AND `Index` in ($DispatchIDFilter)
SELECT
'Req' AS "Metrics",
AVG(SQC_ICACHE_REQ/SQ_WAVES) AS 'Mean',
MIN(SQC_ICACHE_REQ/SQ_WAVES) AS 'Min',
MAX(SQC_ICACHE_REQ/SQ_WAVES) AS 'Max',
'Req/wave' AS "Unit"


union SELECT
'Hits' AS "Metrics",
AVG(SQC_ICACHE_HITS/SQ_WAVES) AS 'Mean',
MIN(SQC_ICACHE_HITS/SQ_WAVES) AS 'Min',
MAX(SQC_ICACHE_HITS/SQ_WAVES) AS 'Max',
'per wave' AS "Unit"

union SELECT
'Misses' AS "Metrics",
AVG(SQC_ICACHE_MISSES/SQ_WAVES) AS 'Mean',
MIN(SQC_ICACHE_MISSES/SQ_WAVES) AS 'Min',
MAX(SQC_ICACHE_MISSES/SQ_WAVES) AS 'Max',
'per wave' AS "Unit"


union SELECT
'Cache hit' AS "Metrics",
AVG(100*SQC_ICACHE_HITS/(SQC_ICACHE_HITS + SQC_ICACHE_MISSES)) AS 'Mean',
MIN(100*SQC_ICACHE_HITS/(SQC_ICACHE_HITS + SQC_ICACHE_MISSES)) AS 'Min',
MAX(100*SQC_ICACHE_HITS/(SQC_ICACHE_HITS + SQC_ICACHE_MISSES)) AS 'Max',

'pct' AS "Unit"


union SELECT
'Invalidates (Instr)' AS "Metrics",
AVG(SQC_ICACHE_INVAL_INST/SQ_WAVES) AS 'Mean',
MIN(SQC_ICACHE_INVAL_INST/SQ_WAVES) AS 'Min',
MAX(SQC_ICACHE_INVAL_INST/SQ_WAVES) AS 'Max',
'per wave' AS "Unit"

union SELECT 
'Invalidates (Async)' AS "Metrics",
AVG(SQC_ICACHE_INVAL_ASYNC/SQ_WAVES) AS 'Mean',
MIN(SQC_ICACHE_INVAL_ASYNC/SQ_WAVES) AS 'Min',
MAX(SQC_ICACHE_INVAL_ASYNC/SQ_WAVES) AS 'Max',
'per wave' AS "Unit"


union SELECT
'L1I-TC Req' AS "Metrics",
AVG(SQC_TC_INST_REQ/SQ_WAVES) AS 'Mean',
MIN(SQC_TC_INST_REQ/SQ_WAVES) AS 'Min',
MAX(SQC_TC_INST_REQ/SQ_WAVES) AS 'Max',
'Req/wave'  AS "Unit"


union SELECT 
'L1I Access Latency' AS "Metrics",
AVG(SQ_ACCUM_PREV_HIRES/SQC_ICACHE_REQ) AS 'Mean',
MIN(SQ_ACCUM_PREV_HIRES/SQC_ICACHE_REQ) AS 'Min',
MAX(SQ_ACCUM_PREV_HIRES/SQC_ICACHE_REQ) AS 'Max',
'Cycles'  AS "Unit"


union 
SELECT 
'L1I-TC Access Latency' AS "Metrics",
AVG(SQ_ACCUM_PREV_HIRES/SQC_TC_INST_REQ) AS 'Mean',
MIN(SQ_ACCUM_PREV_HIRES/SQC_TC_INST_REQ) AS 'Min',
MAX(SQ_ACCUM_PREV_HIRES/SQC_TC_INST_REQ) AS 'Max',
'Cycles'  AS "Unit"
